<configuration>
  
  <property name="TEXTO_PATTERN" value="%d{ISO8601} %-5level %logger: %msg%n" />
  
  <!-- ======================================================================== -->
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${TEXTO_PATTERN}</pattern>
    </encoder>
  </appender>
  
  <!-- ======================================================================== -->
  
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>